<div id="manager" class="section">
<div class="container">
<div class="row">
    <div class="col-md-4 mt-4 offset-2">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="https://i.ytimg.com/vi/8aFwgP_nx6Y/maxresdefault.jpg" class="card-img-top" height="150px">
            <div class="card-body">
                <h3 class="card-title">Employees</h3>
                <p class="card-text">Employee Counter</p>
                <a routerLink="/employeesCounter" class="btn btn-primary mt-4">Employee Counter</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/9a/68/50/hotel-rooms.jpg" class="card-img-top" height="150px">
            <div class="card-body">
                <h3 class="card-title offset-3">Rooms</h3>
                <p class="card-text">Room Coutner</p>
                <a routerLink="/managerRoomsCounter" class="btn btn-primary mt-4">Room Counter</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4 offset-2">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="https://image.freepik.com/free-vector/hotel-reception-cartoon-background_1284-23534.jpg" class="card-img-top" height="150px">
            <div class="card-body">
                <h3 class="card-title">Customer</h3>
                <p class="card-text">Customers Counter</p>
                <a routerLink="/customersCounter" class="btn btn-primary mt-4">Customers Counter</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="https://assets.tivolihotels.com/image/upload/q_auto,f_auto/media/minor/tivoli/images/brand_level/footer/1920x1000/thr_aboutus1_1920x1000.jpg" class="card-img-top" height="150px">
            <div class="card-body">
                <h3 class="card-title">Hotels</h3>
                <p class="card-text">Hotels Counter</p>
                <a routerLink="/managerHotelsCounter" class="btn btn-primary mt-4 ">Hotels Counter</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>