/* #service {
	font-family: 'Montserrat', sans-serif;
	background-image: url('/assets/images/background.jpg');
	background-size: cover;
	background-position: center;
} */

/* #service::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
} */