.section {
	position: relative;
	height: 600px;
}

.section .section-center {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url(https://cdn.pixabay.com/photo/2015/07/02/10/29/swimming-828795__340.jpg);
	background-size: cover;
	background-position: center;
}