<!-- <div class="mt-5 col-md-4 offset-md-4 table table-bordered">
    <h2 style="text-align: center;">Payment Mode</h2>
    <h4 style="color: aqua;">Total Amount {{totalAmount}}</h4>
    <br>
    <div class="row">
        <button class="btn btn-warning" type="submit" (click)='cardPayment()'>
            Card
        </button>
        <button class="btn btn-warning" type="submit" (click)='paymentDone()'>
            Cash
        </button>
    </div>
</div> -->

<div id="paymentMode" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="paymentMode-cta">
                        <h1>Make your reservation</h1>
                    </div>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <div class="paymentMode-form">
                        <!-- <div class="mt-5 col-md-4 offset-md-4 table table-bordered"> -->
                            <h2 style="text-align: center;">Payment Mode</h2>
                            <h4 style="color: aqua;">Total Amount {{totalAmount}}</h4>
                            <br>
                            <div class="row">
                                <button class="btn btn-warning offset-2" type="submit" (click)='cardPayment()'>
                                    Card
                                </button>
                                <button class="btn btn-info offset-2" type="submit" (click)='paymentDone()'>
                                    Cash
                                </button>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>