<div class="col-md-10 offset-1 mt-5">
    <table class="table table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th>User Id</th>
                <th>User Message</th>
                <th>Reply</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor='let messages of discussion.userMessageList'>
                <td>{{messages.userId}}</td>
                <td>{{messages.message}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        (click)='selectMessage(messages)'>
                        Reply
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Reply...</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        (click)='discussion.getUserMessage()'>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form #reply="ngForm" (ngSubmit)="submitForm(reply)">
                                        <div class="form-group">
                                            <label for="userId">User Id</label>
                                            <input type="text" name="userId" class="form-control"
                                                placeholder="Enter user Id" #userId="ngModel"
                                                [(ngModel)]="selectedMessage.userId" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Message</label>
                                            <input type="text" name="message" class="form-control"
                                                placeholder="Enter Message" #message="ngModel"
                                                ngModel required>
                                        </div>
                                        <div class="form-group">
                                            <label for="type">Type</label>
                                            <select class="custom-select" name="type" #type="ngModel" ngModel required>
                                                <option>Answer</option>
                                            </select>
                                        </div>
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-outline-primary float-right"
                                                [disabled]="reply.invalid">
                                                Submit
                                            </button>
                                            <button type="reset" class="btn btn-outline-primary  float-right">
                                                Reset
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>